*  {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;

}

.header {
    background-color: aliceblue;
    margin-left: -200px;
    margin-right: -200px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

.name, a, button {
    margin: 10px;
}

button {
    font-size: 16px;
    padding: 8px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: red;
}

h2 {
    font-size: 32px;
    margin-bottom: 12px;
}

.details {
    font-weight: 600;
}

ul, ol, p {
    font-size: 21px;
    margin-top: 12px;
    margin-bottom: 12px;
}

ul, ol {
    margin-left: auto;
}

.index-entry {
    display: inline;
    margin-left: auto;
    color: black;
    font-size: 28px;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.demo-photo {
    margin-top: 12px;
    margin-bottom: 12px;;
    height: auto;
    width: 15%;
}

.info-about-me {
    font-size: 20px;
    margin: 0 200px;
}